    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POFO – Creative, Portfolio & Blog WordPress Theme  – Home classic one page</title>
    <link rel="icon" href="/images/favicon.png" type="png/css">
    <link rel="stylesheet" href="/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/fonts/stylesheet.css" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body data-bs-spy="scroll" data-bs-target="#header" data-bs-offset="50">

    <!-- HEADER START -->
    <header class="w-100">  
    <nav class="navbar navbar-expand-lg navbar-light px-4 shadow-sm" id="header">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="images/logo-1.webp" alt="logo"></a>
          <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCon">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCon">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 100px;">
              <li class="nav-item">
                <a class="nav-link mx-3 fw-bold text-uppercase active" style="color: rgba(255,255,255,0.60)" href="#home">home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 text-white fw-normal text-uppercase" href="#about">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 text-white fw-normal text-uppercase" href="#services">services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 text-white fw-normal text-uppercase" href="#work">work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 text-white fw-normal text-uppercase" href="#team">team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 text-white fw-normal text-uppercase" href="#blog">blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 text-white fw-normal text-uppercase" href="#clients">clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3 text-white fw-normal text-uppercase" href="#contact">contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- HEADER END -->

    <main>

      <!-- HOME START -->
      <section class="home" id="home">
        <div class="col-xs-12 col-12 col-lg-12 col-md-12 col-sm-12">
          <div id="banner" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button data-bs-target="#banner" data-bs-slide-to="0" class="active btn text-white">1</button>
              <button data-bs-target="#banner" data-bs-slide-to="1" class="btn text-white">2</button>
              <button data-bs-target="#banner" data-bs-slide-to="2" class="btn text-white">3</button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/homepage-9-slider-img-1.jpg" class="w-100 vh-100" alt="" title="">
  
                <div class="carousel-caption mb-5">
                  <img src="images/text.png.webp" class="text-white" alt="" title="">
                </div>
  
              </div>
              <div class="carousel-item">
                <img src="images/banner-2.jpg" class="w-100 vh-100" alt="" title="">
  
                <div class="carousel-caption mb-5">
                  <img src="images/text.png.webp" alt="" title="">
                </div>
              </div>
  
              <div class="carousel-item">
                <img src="images/banner-3.jpg" class="w-100 vh-100" alt="" title="">
  
                <div class="carousel-caption mb-5">
                  <img src="images/text.png.webp" alt="" title="">
                </div>
  
              </div>
            </div>
            <a href="#banner" class="carousel-control-prev" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#banner" class="carousel-control-next" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
              </a>
            
          </div>
        </div>
      </section>
      <!-- HOME END -->

      <!-- ABOUT START -->
        <section class="about" id="about">
         <div class="container-fluid">
           <div class="col-12 col-lg-12 col-md-12 col-sm-12">
             <div>
               <h5 class="text-theme text-center mt-4">We are delivering beautiful digital products</h5>
               <h2 class="text-center pt-3 text-dark-gy fw-normal fs-3">We provide high quality and cost effective offshore <br> web and software development services</h2>
             </div>
           </div>

           <div class="row m-5">
            <div class="col-lg-4 col-md-6 col-sm-12 wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="d-flex">
                    <div class="fs-1 text-color">
                        <i class="far fa-lightbulb"></i>
                    </div>
                    <div class="line ms-5 me-5">
                        <h4> Digital Branding</h4>
                        <p class="text-color">We can help you find the precise message to clearly speak to who you are as a company.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="d-flex">
                    <div class="fs-1 text-color">
                        <i class="fas fa-globe-europe"></i>
                    </div>
                    <div class="line ms-5 me-5">
                        <h4>Web Interactive</h4>
                        <p class="text-color">Our websites look great, but each page has a clearly defined but each page has a clearly conversion goal.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="d-flex">
                    <div class="fs-1 text-color">
                        <i class="fas fa-brush"></i>
                    </div>
                    <div class="line ms-5 me-5">
                        <h4>Graphic Design</h4>
                        <p class="text-color">We interlace our creative with solid marketing and branding principles. A strong brand.</p>
                    </div>
                </div>
            </div>
        </div>
         </div>
        </section>

        <!-- BANNER-START -->
        <section class="banner position-relative">
          <div class="col-lg-6 col-md-6 col-sm-10">
            <div class="container-fluid">
              <div class="text-center text-white position-absolute top-50 start-50 translate-middle">
                <a href="#" class="about-img text-decoration-none"><img src="images/icon-play.png" alt=""></a>
                <h4 class="text-center fw-500 text-white display-5 mb-2">Unique. Powerful. Creative.</h4>
                <span class="fw-normal text-light-gray fs-5">We provide high quality and cost effective offshore <br> web and software development services</span>
              </div>
            </div>
          </div>
        </section>
        <!-- BANNER-END -->

      <!-- ABOUT END -->

      <!-- SERVICES START -->
        <section class="services bg-back" id="services">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text-center section-title">
                  <h2 class="text-uppercase text-dark fw-bold display-6 mt-4">our services</h2>
                  <p class="pt-3 text-color fw-normal fs-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum <br> has been the industry standard dummy text ever since. Lorem Ipsum has been the <br> industry. Lorem Ipsum has been the industry standard dummy text since.
                  </p>
                </div>
              </div>
            </div>
            <div class="row m-5">
                        
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 "> 
                  <div class="text-center wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                      <div class="card p-5 service-box">
                          <div class="fs-2 sec-icon"><i class="fas fa-desktop border rounded-circle p-4 text-light bg-theme"></i></div>    
                          <div class="card-body">
                              <h5 class="card-title">Sales Promotion</h5>
                              <p class="card-text text-muted">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12"> 
                  <div class="text-center wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;" >
                      <div class="card p-5 service-box">
                          <div class="fs-2"><i class="fas fa-pencil-ruler border rounded-circle p-4 text-light bg-theme"></i></div>    
                          <div class="card-body">
                              <h5 class="card-title">SEO Marketing</h5>
                              <p class="card-text text-muted">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12"> 
                  <div class="text-center wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;" >
                      <div class="card p-5 service-box">
                          <div class="fs-2"><i class="fas fa-cut border rounded-circle p-4 text-light bg-theme"></i></div>   
                          <div class="card-body">
                              <h5 class="card-title">Strategic Planning</h5>
                              <p class="card-text text-muted">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12"> 
                  <div class="text-center wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;" >
                      <div class="card p-5 service-box">
                          <div class="fs-2"><i class="fas fa-laptop border rounded-circle p-4 text-light bg-theme"></i></div>   
                          <div class="card-body">
                              <h5 class="card-title">Product Branding</h5>
                              <p class="card-text text-muted">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          </div>
        </section>

        <!-- PROCESS COUNTER -->
        <section class="m-5 mt-4 bg-white">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
               <div class="d-flex wow animate__fadeInRight align-items-center justify-content-center" style="animation-name: fadeInRight;">
                <div class="fs-1 m-4">
                  <i class="fas fa-desktop"></i>
                </div>
                <div class="ms-4 count">
                  <h4 class="pt-3 fs-4 text-dark fw-bold count">350</h4>
                  <h5 class="text-uppercase fs-6">happy clients</h5>
                </div>
               </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 count">
               <div class="d-flex wow animate__fadeInRight justify-content-center align-items-center" style="animation-name: fadeInRight;">
                <div class="fs-1 m-4">
                  <i class="fas fa-camera"></i>
                </div>
                <div class="ms-4 count">
                  <h4 class="pt-3 fs-4 text-dark fw-bold count">780</h4>
                  <h5 class="text-uppercase fs-6">photo capture</h5>
                </div>
               </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="d-flex wow animate__fadeInRight align-items-center justify-content-center" style="animation-name: fadeInRight;">
                  <div class="fs-1 m-4">
                    <i class="fas fa-laptop"></i>
                  </div>
                  <div class="ms-4">
                    <h4 class="pt-3 fs-4 text-dark fw-bold count">850</h4>
                    <h5 class="fs-6 text-uppercase">work completed</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
               <div class="d-flex wow animate__fadeInRight align-items-center justify-content-center" style="animation-name: fadeInRight;">
                <div class="fs-1 m-4">
                  <i class="fas fa-comments"></i>
                </div>
                <div class="ms-4">
                  <h4 class="pt-3 fs-4 text-dark fw-bold count">650</h4>
                  <h5 class="fs-6 text-uppercase">telephonic talk</h5>
                </div>
               </div>
              </div>
            </div>
          </div>
        </section>

        <!-- FAQ START -->
        <section class="bg-light wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <div class="row m-0">
              <div class="col-lg-6 col-sm-12 wow animate__fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                  <div class="p-5">
                      <h2>We're small but impressive.</h2>
                      <h3 class="fw-bold mb-5">Hand crafted pixel perfect designs.</h3>
                      <div>
                          <div id="accordionExample" class="accordion-flush shadow-sm mb-3">
                              <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                    <span class="text-theme fw-bold fs-4 me-3">01 </span><h6 class="text-dark pt-2">Unique and bold website design.</h6>                                   
                                  </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa numquam facilis, error aut quis recusandae sed ipsum eligendi hic eius dolorem incidunt!maiores fugiat impedit dignissimos quibusdam, unde voluptas? Ab distinctio adipisci ducimus molestiae accusamus voluptate quae saepe?</p>
                                  </div>
                                </div>
                              </div>
                          </div>                        
                          <div id="accordionExample" class="accordion-flush shadow-sm mb-3">
                              <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo">
                                    <span class="text-theme fw-bold fs-4 me-3">02 </span><h6 class="text-dark pt-2">We are ready to strat now.</h6>                                   
                                  </button>
                                </h2>
                                <div id="collapsetwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa numquam facilis, error aut quis recusandae sed ipsum eligendi necessitatibus nemo maiores fugiat impedit dignissimos quibusdam, unde voluptas? Ab distinctio adipisci ducimus molestiae accusamus voluptate quae saepe?</p>
                                  </div>
                                </div>
                              </div>
                          </div>                        
                          <div id="accordionExample" class="accordion-flush shadow-sm mb-3">
                              <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree">
                                    <span class="text-theme fw-bold fs-4 me-3">03 </span><h6 class="text-dark pt-2">We deliver the highest quality.</h6>                                   
                                  </button>
                                </h2>
                                <div id="collapsethree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa numquam facilis, error aut quis recusandae sed ipsum eligendi hic eius dolornemo maiores fugiat impedit dignissimos quibusdam, unde voluptas? Ab distinctio adipisci ducimus molestiae accusamus voluptate quae saepe?</p>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-sm-12 wow animate__fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                  <div class="faq-img"></div>
              </div> 
          </div>
      </section>
      <!-- FAQ END -->

      <!-- SERVICES END -->

      <!-- PORTFOLIO START -->

      <section class="work mt-3 wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;" id="work">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="text-center section-title">
                <h2 class="text-uppercase text-dark fw-bold display-6 mt-4">recent portfolio</h2>
                <p class="pt-3 text-color fw-normal fs-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum <br> has been the industry standard dummy text ever since. Lorem Ipsum has been the <br> industry. Lorem Ipsum has been the industry standard dummy text since.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="m-5">
          <div class = "d-flex flex-wrap justify-content-center mt-5 filter-button-group">
            <button type = "button" class = "btn m-2 text-color text-uppercase fw-normal fs-6 active-filter-btn">All</button>
            <button type = "button" class = "btn m-2 text-color text-uppercase fw-normal fs-6 active-filter-btn">web</button>
            <button type = "button" class = "btn m-2 text-color text-uppercase fw-normal fs-6 active-filter-btn">advertising</button>
            <button type = "button" class = "btn m-2 text-color text-uppercase fw-normal fs-6 active-filter-btn">branding</button>
            <button type = "button" class = "btn m-2 text-color text-uppercase fw-normal fs-6 active-filter-btn">design</button>
            <button type = "button" class = "btn m-2 text-color text-uppercase fw-normal fs-6 active-filter-btn">photograpy</button>
        </div>

        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="portfo-item mb-4 wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.4s;">
                    <img src="images/portfolio-item20.jpg" alt="" title="" class="w-100">
                    <h2 class="text-uppercase text-dark fs-5 text-center">Herbal Beauty Salon</h2>
                    <p class="text-uppercase text-center">BRANDING AND IDENTITY</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="portfo-item wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.4s;">
                    <img src="images/portfolio-item23.jpg" alt="" title="" class="w-100">
                    <h2 class="text-uppercase text-dark fs-5 text-center">Tailoring Interior</h2>
                    <p class="text-uppercase text-center">BRANDING AND BROCHURE</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="portfo-item wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.4s;">
                    <img src="images/portfolio-item22.jpg" alt="" title="" class="w-100">
                    <h2 class="text-uppercase text-dark fs-5 text-center">Pixflow Studio</h2>
                    <p class="text-uppercase text-center">BRANDING AND IDENTITY</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="portfo-item wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.4s;">
                    <img src="images/portfolio-item21.jpg" alt="" title="" class="w-100">
                    <h2 class="text-uppercase text-dark fs-5 text-center">Designblast Inc</h2>
                    <p class="text-uppercase text-center">WEB AND PHOTOGRAPHY</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="portfo-item wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.4s;">
                    <img src="images/portfolio-item24.jpg" alt="" title="" class="w-100">
                    <h2 class="text-uppercase text-dark fs-5 text-center">HardDot Stone</h2>
                    <p class="text-uppercase text-center">BRANDING AND IDENTITY</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="portfo-item wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.4s;">
                    <img src="images/portfolio-item25.jpg" alt="" title="" class="w-100">
                    <h2 class="text-uppercase text-dark fs-5 text-center">Educamp School</h2>
                    <p class="text-uppercase text-center">BRANDING AND IDENTITY</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="portfo-item wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.4s;">
                    <img src="images/portfolio-item26.jpg" alt="" title="" class="w-100">
                    <h2 class="text-uppercase text-dark fs-5 text-center">Third Eye Glasses</h2>
                    <p class="text-uppercase text-center">BRANDING AND BROCHURE</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="portfo-item wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.4s;">
                    <img src="images/portfolio-item19.jpg" alt="" title="" class="w-100">
                    <h2 class="text-uppercase text-dark fs-5 text-center">Violator Series</h2>
                    <p class="text-uppercase text-center">WEB AND PHOTOGRAPHY</p>
                </div>
            </div>           
        </div>
        </div>
        
      </section>

      <!-- START PROGRESS BAR ITEM -->

      <section>
        <div class="container-lg py-4">
          <div class="row m-5 mt-5">
            <div class="col-md-6">
              <div class="about-text wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h3 class="fs-3 mb-3 fw-600 ">We provide high quality and cost <br> effective services.</h3>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard dummy <br> text ever since. Lorem Ipsum has been the industry. Lorem Ipsum <br> has been the industry's standard dummy text since. Lorem Ipsum is <br> simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0 wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="">
                  <div class="progress overflow-visible position-relative m-5" style="height: 5px;">
                    <h4 class="text-uppercase fs-6 text-muted position-absolute progress-title">jquery -  4 years experience</h4>
                    <div class="progress-bar bg-dark skill-item" style="width: 92%;">
                    </div>
                    <h5 class="position-absolute fs-6 progress-prat text-muted">92%</h5>
                  </div>
                </div>
                <div class="">
                  <div class="progress overflow-visible position-relative m-5" style="height: 5px;">
                    <h4 class="text-uppercase fs-6 text-muted position-absolute progress-title">wordpress - 6 years experience</h4>
                    <div class="progress-bar bg-dark skill-item" style="width: 97%;">
                    </div>
                    <h5 class="position-absolute fs-6 progress-prat text-muted">97%</h5>
                  </div>
                </div>
                <div class="">
                  <div class="progress overflow-visible position-relative m-5" style="height: 5px;">
                    <h4 class="text-uppercase fs-6 text-muted position-absolute progress-title">html - 5 years experience</h4>
                    <div class="progress-bar bg-dark skill-item" style="width: 98%;">
                    </div>
                    <h5 class="position-absolute fs-6 progress-prat text-muted">98%</h5>
                  </div>
                </div>
                <div class="">
                  <div class="progress overflow-visible position-relative m-5" style="height: 5px;">
                    <h4 class="text-uppercase fs-6 text-muted position-absolute progress-title">photograpy - 6 years experience</h4>
                    <div class="progress-bar bg-dark skill-item" style="width: 92%;">
                    </div>
                    <h5 class="position-absolute fs-6 progress-prat text-muted">92%</h5>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>

      <!-- END PROGRESS BAR ITEM -->

      <!-- PORTFOLIO END -->

      <!-- START SECTION -->
      <section>
        <div class="row m-0">
            <div class="col-lg-6 col-sm-12 col-md-6 p-0">
              <div class="section-detail">
                <div class="section-go d-flex justify-content-center translate-middle" style="top: 50%; left: 50%;">
                    <div class="text-light position-absolute top-0 start-50 translate-middle" style="font-size: 70px;"><i class="fas fa-quote-left"></i></div>
                    <h6 class="text-light fw-light text-center p-5 mt-3 h6">We design brand, digital experience & marketing campaigns that engage the right customers.</h6>    
                </div>
            </div>
            </div>
            <div class="col-lg-6 col-sm-12 p-0">
                <div class="bg-dark text-light p-5">
                    <h5 class="mt-5 mb-4 text-color">We create premium designs and technology</h5>
                    <h4 class="text-light-gray fw-700">A digital studio crafting beautiful experiences.</h4>
                    <h5 class="mt-3 mb-4 text-color text-extra-large">We always stay on the cutting edge of digital, so that our always stay on the cutting edge of digital clients maintain their competitive advantage online.</h5>
                    <p class="text-color mt-3 mb-4">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and industry. standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply Lorem Ipsum has been the industry standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text.
                    </p>
                    <button class="btn btn-light p-2 mt-3 mb-2 rounded-0" style="font-size: 14px;">START YOUR BUSINESS</button>
                </div>
            </div>
        </div>
    </section>
      <!-- END SECTION -->
      
      <!-- start feature box item -->
      <section class="wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="row m-0 m-5">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center align-items-center w-100 feature-border wow animate__fadeInRight" style="visibility: visible;animation-name: fadeInRight;">
              <h2 class="text-light-gray fw-500 display-4">01</h2>
              <span class="d-block text-dark-gy fs-5">Discussion of the Idea</span>
              <p class="text-muted fs-6 mt-3">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsum has been the industry <br> standard text.</p>
            </div>     
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center align-items-center w-100 feature-border wow animate__fadeInRight" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
              <h2 class="text-light-gray fw-500 display-4">02</h2>
              <span class="d-block text-dark-gy fs-5">Elaboration of the Core</span>
              <p class="text-muted fs-6 mt-3">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsum has been the industry <br> standard text.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center align-items-center w-100 feature-border wow animate__fadeInRight" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
              <h2 class="text-light-gray fw-500 display-4">03</h2>
              <span class="d-block text-dark-gy fs-5">Handcrafted Templates</span>
              <p class="text-muted fs-6 mt-3">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsum has been the industry <br> standard text.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center align-items-center w-100 wow animate__fadeInRight" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
              <h2 class="text-light-gray fw-500 display-4">04</h2>
              <span class="d-block text-dark-gy fs-5">Testing for Perfection</span>
              <p class="text-muted fs-6 mt-3">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsum has been the industry <br> standard text.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- end feature box item -->

       <!-- start parallax section -->
        <section class="wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <div class="container-fluid col-lg-12 col-md-12 col-sm-12">
            <div class="bg-extra-dark-gray parallax-img">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="text-center">
                    <h2 class="text-white fw-normal display-5 mt-4">Powerful Website Builder</h2>
                    <p class="pt-3 text-color fw-light fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-3 col-md-6 col-sm-12 wow animate__zoomIn parallax-item" style="visibility: visible; animation-name: zoomIn;">
                <div class="text-center align-items-center">
                  <i class="far fa-edit icon-large text-theme"></i>
                  <p class="text-light-gray fs-4 mt-3">Creative Elements</p>
                  <div class="text-bottom-line"></div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 wow animate__zoomIn parallax-item" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                <div class="text-center align-items-center">
                  <i class="fas fa-tools icon-large text-theme"></i>
                  <p class="text-light-gray fs-4 mt-3">Unique Shortcodes</p>
                  <div class="text-bottom-line"></div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 wow animate__zoomIn parallax-item" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                <div class="text-center align-items-center">
                  <i class="far fa-window-restore icon-large text-theme"></i>
                  <p class="text-light-gray fs-4 mt-3">Unlimited Layouts</p>
                  <div class="text-bottom-line"></div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 wow animate__zoomIn parallax-item" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                <div class="text-center align-items-center">
                  <i class="fas fa-cut icon-large text-theme"></i>
                  <p class="text-light-gray fs-4 mt-3">Creative Elements</p>
                  <div class="text-bottom-line"></div>
                </div>
              </div>
            </div>
            </div>
            
          </div>
        </section>
        <!-- end parallax section -->

        <!-- start team section -->
        <section class="team wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;" id="team">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text-center section-title">
                  <h2 class="text-uppercase text-dark fw-bold display-6 mt-4">creative People</h2>
                  <p class="pt-3 text-color fw-normal fs-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum <br> has been the industry standard dummy text ever since. Lorem Ipsum has been the <br> industry. Lorem Ipsum has been the industry standard dummy text since.
                  </p>
                </div>
              </div>
            </div>
            <div class="row mt-5 mb-5">
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="team">
                      <div class="team-img">
                          <img src="images/team13.jpg" title="" alt="" class="img-fluid">
                      </div>
                      <div class="team-text text-center text-light p-5">
                          <h4>HERMAN MILLER</h4>
                          <h5 class="mt-3 mb-4">co-founder / deasign</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sit fugit omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="team">
                      <div class="team-img">
                          <img src="images/team18.jpg" title="" alt="" class="img-fluid">
                      </div>
                      <div class="team-text text-center text-light p-5">
                          <h4>JEREMY DOPOINT</h4>
                          <h5 class="mt-3 mb-4">creative designer</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sit fugit omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="team">
                      <div class="team-img">
                          <img src="images/team14.jpg" title="" alt="" class="img-fluid">
                      </div>
                      <div class="team-text text-center text-light p-5">
                          <h4>SARA SAMITH</h4>
                          <h5 class="mt-3 mb-4">creative studio hade</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sit fugit omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="team">
                      <div class="team-img">
                          <img src="images/team15.jpg" title="" alt="" class="img-fluid">
                      </div>
                      <div class="team-text text-center text-light p-5">
                          <h4>BILL GARDEN</h4>
                          <h5 class="mt-3 mb-4">co-founder / deasign</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sit fugit omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </div>
                  </div>
              </div>
          </div>
              
          </div>
        </section>
        <!-- end team section -->

        <!-- start blog section -->
        <section class="blog bg-back wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;" id="blog">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text-center section-title">
                  <h2 class="text-uppercase text-dark fw-bold display-6 mt-4">recent blog</h2>
                  <p class="pt-3 text-color fw-normal fs-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum <br> has been the industry standard dummy text ever since. Lorem Ipsum has been the <br> industry. Lorem Ipsum has been the industry standard dummy text since.
                  </p>
                </div>
              </div>
            </div>
                <div class="row m-5">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div>
                      <ul class="list-unstyled blog-post-detail position-relative" style="height: 512.016px;">
                        <li class="grid-sizer"></li>
                        <li class="blog-item position-absolute top-0 start-0 wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="blog-post">
                              <div class="overflow-hidden blog-img">
                                <a href="#">
                                  <img src="images/blog-img5.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-uppercase bg-white-1 blog-text text-extra-small">
                                  <a href="#" class="text-decoration-none icon-color">graphic design</a>
                                </div>
                              </div>
                              <div class="blog-post-detail bg-white-1 pb-4 padding-35px-all">
                                <a href="#" class=" post-title text-medium text-dark-gy w-90 d-block text-decoration-none fs-5">I like the body. I like to design everything to do with the body.</a>

                                <div class="log-author">
                                  <span class="icon-color text-uppercase text-extra-small d-inline-block">by <a href="#" class="icon-color text-decoration-none">Jay Benjamin</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 April 2017</span>
                                </div>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb"></div>
                                <p class="text-color mb-2 text-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                              </div>
                             
                            </div>
                        </li>
                      </ul>
                    </div>
                   
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div>
                      <ul class="list-unstyled blog-post-detail position-relative" style="height: 512.016px;">
                        <li class="grid-sizer"></li>
                        <li class="blog-item position-absolute top-0 start-0 wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="blog-post">
                              <div class="overflow-hidden blog-img">
                                <a href="#">
                                  <img src="images/blog-img4.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-uppercase bg-white-1 blog-text text-extra-small">
                                  <a href="#" class="text-decoration-none icon-color">graphic design</a>
                                </div>
                              </div>
                              <div class="blog-post-detail bg-white-1 pb-4 padding-35px-all">
                                <a href="#" class=" post-title text-medium text-dark-gy w-90 d-block text-decoration-none fs-5">Recognizing the need is the primary condition for design.</a>

                                <div class="log-author">
                                  <span class="icon-color text-uppercase text-extra-small d-inline-block">by <a href="#" class="icon-color text-decoration-none">Herman Miller</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 April 2017</span>
                                </div>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb"></div>
                                <p class="text-color mb-2 text-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                              </div>
                             
                            </div>
                        </li>
                      </ul>
                    </div>
                   
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div>
                      <ul class="list-unstyled blog-post-detail position-relative" style="height: 512.016px;">
                        <li class="grid-sizer"></li>
                        <li class="blog-item position-absolute top-0 start-0 wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="blog-post">
                              <div class="overflow-hidden blog-img">
                                <a href="#">
                                  <img src="images/blog-img6.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-uppercase bg-white-1 blog-text text-extra-small">
                                  <a href="#" class="text-decoration-none icon-color">web design</a>
                                </div>
                              </div>
                              <div class="blog-post-detail bg-white-1 pb-4 padding-35px-all">
                                <a href="#" class=" post-title text-medium text-dark-gy w-90 d-block text-decoration-none fs-5">Styles come and go. Design is a language, not a style.</a>

                                <div class="log-author">
                                  <span class="icon-color text-uppercase text-extra-small d-inline-block">by <a href="#" class="icon-color text-decoration-none">Jeremy Dupont</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 April 2017</span>
                                </div>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb"></div>
                                <p class="text-color mb-2 text-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                              </div>
                             
                            </div>
                        </li>
                      </ul>
                    </div>
                   
                  </div>
                </div>
          </div>
        </section>
        <!-- end blog section -->

       

        <!-- start review section -->
        <section class="wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center section-title">
                      <h2 class="text-uppercase text-dark fw-bold display-6 mt-4">what People say</h2>
                      <p class="pt-3 text-color fw-normal fs-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum <br> has been the industry standard dummy text ever since. Lorem Ipsum has been the <br> industry. Lorem Ipsum has been the industry standard dummy text since.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center m-5">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <!-- start testimonial item -->
                      <div class="col text-center wow animate__fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <img src="images/avtar-01.jpg" alt="" class="rounded-circle w-30 mb-4">
                        <p class="w-90 mx-auto text-color">Their team are easy to work with and helped me make amazing websites in a short amount of time. Thanks guys for all your hard work.</p>
                        <i class="fas fa-quote-left icon-small text-theme d-block mt-3 mb-3"></i>
                        <span class="text-dark-gy fw-600 text-uppercase d-block line-height-10 fw-light">shoko mugikura</span>
                        <span class="icon-color text-extra-small text-uppercase">Design Manager</span>
                      </div>
                    <!-- end testimonial item -->
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <!-- start testimonial item -->
                      <div class="col text-center wow animate__fadeInRight" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                        <img src="images/avtar-02.jpg" alt="" class="rounded-circle w-30 mb-4">
                        <p class="w-90 mx-auto text-color">Their team are easy to work with and helped me make amazing websites in a short amount of time. Thanks guys for all your hard work.</p>
                        <i class="fas fa-quote-left icon-small text-theme d-block mt-3 mb-3"></i>
                        <span class="text-dark-gy fw-600 text-uppercase d-block line-height-10 fw-light">Alexander Smith</span>
                        <span class="icon-color text-extra-small text-uppercase">Co Founder / CEO</span>
                      </div>
                    <!-- end testimonial item -->
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <!-- start testimonial item -->
                      <div class="col text-center wow animate__fadeInRight" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                        <img src="images/avtar-03.jpg" alt="" class="rounded-circle w-30 mb-4">
                        <p class="w-90 mx-auto text-color">Their team are easy to work with and helped me make amazing websites in a short amount of time. Thanks guys for all your hard work.</p>
                        <i class="fas fa-quote-left icon-small text-theme d-block mt-3 mb-3"></i>
                        <span class="text-dark-gy fw-600 text-uppercase d-block line-height-10 fw-light">Lindsay Swanson</span>
                        <span class="icon-color text-extra-small text-uppercase">Creative Director</span>
                      </div>
                    <!-- end testimonial item -->
                  </div>
                </div>
              </div>
        </section>
        <!-- end review section -->

        <!-- start contact section -->
        <section id="contact" class="wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <div class="container-fluid">
            <div class="row m-0">
              <div class="col-lg-6 col-sm-12 col-md-6 p-0 wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="contact-detail"></div>
              </div>
              <div class="col-lg-6 col-sm-12 p-0">
                  <div class="bg-dark text-light p-5 wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                      <h5 class="mt-3 text-color text-center text-uppercase">We create premium designs and technology</h5>
                      <h4 class="text-white fw-600 text-center text-uppercase fs-2">Ready to request a quote?</h4>
                      <form action="#">
                        <div class="m-5">
                          <input type="text" name="name" id="name" placeholder="Name*" class="input-border-bottom form-control" required>
                        </div>
                        <div class="m-5">
                          <input type="email" name="email" id="email" placeholder="E-mail*" class="input-border-bottom form-control" required>
                        </div>
                        <div class="m-5">
                          <input type="tel" id="subject" name="subject" placeholder="Subject" class="input-border-bottom form-control">
                        </div>
                        <div class="m-5">
                          <textarea name="comment" id="comment" placeholder="Your Message" class="input-border-bottom form-control"></textarea>
                        </div>
                        <div class="text-center">
                          <button type="button" class="btn btn-theme text-uppercase">send message</button>
                        </div>
                      </form>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end contact section -->

        <!-- fancy box -->


        <div class="container">
            <div class="fancy">
              <div>
                <a href="./images/homepage-9-parallax-img4.jpg" data-fancybox="box">
                  <img src="./images/homepage-9-parallax-img4.jpg" class="img-fluid" alt="">
                </a>
              </div>
              <div>
                <a href="./images/banner-3.jpg" data-fancybox="box">
                  <img src="./images/banner-3.jpg" class="img-fluid" alt="">
                </a>
              </div>
              <div>
                <a href="./images/homepage-9-parallax-img6.jpg" data-fancybox="box">
                  <img src="./images/homepage-9-parallax-img6.jpg" class="img-fluid" alt="">
                </a>
              </div>
              <div>
                <a href="./images/banner-1.jpg" data-fancybox="box">
                  <img src="./images/banner-1.jpg" class="img-fluid" alt="">
                </a>
              </div>
              <div>
                <a href="./images/portfolio-item26.jpg" data-fancybox="box">
                  <img src="./images/portfolio-item26.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
        </div>
    </main>

    <!-- FOOTER START -->
    
    <footer class="bg-dark py-5">
      <div class="container-fluid">
        <div class="footer-top">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <h3 class="fw-bold text-white">Join our community by using our <br> services and grow your business.</h3>
            </div>
            <div class="col-lg-6 col-md-6 text-end">
              <a href="#home" class="btn btn-primary rounded-pill ">Try It For Free</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="footer-body">
          <div class="row text-white g-4">
            <div class="col-md-6 col-lg-3 col-sm-6 col-12">
              <img src="images/logo-1.webp" alt="logo-1" title="logo-1" class="mb-4">
              <p class="mb-4 text-muted">Lorem, ipsum. <br> Lorem ipsum dolor.</p>
              <ul class="list-unstyled d-flex">
                <li>
                    <a href = "https://www.facebook.com/" class = "text-white text-decoration-none text-muted fs-4 me-4">
                        <i class = "fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href = "https://twitter.com/home" class = "text-white text-decoration-none text-muted fs-4 me-4">
                        <i class = "fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href = "https://www.instagram.com/" class = "text-white text-decoration-none text-muted fs-4 me-4">
                        <i class = "fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href = "https://in.pinterest.com/" class = "text-white text-decoration-none text-muted fs-4 me-4">
                        <i class = "fab fa-pinterest"></i>
                    </a>
                </li>
            </ul>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-12">
              <h4 class="mb-3 text-white fw-bold">Get in Touch</h4>
              <address class="pe-xxl-17 text-muted">102,Santinagar Soc., Punagam, Surat, Gujarat, India</address>
              <a href="#" class = "text-white text-decoration-none text-muted">asodariyasavan2004@gmail.com</a>
              <div class = "text-muted">
                <span class = "fw-light">
                    +91 97375 31475
                </span>
            </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-12">
              <h4 class="mb-3 text-white fw-bold">Learn More</h4>
              <ul class="list-unstyled">
                <li class = "my-3">
                    <a href="#home" class="text-white text-decoration-none text-muted">
                        About US
                    </a>
                </li>
                <li class = "my-3">
                    <a href = "#about" class = "text-white text-decoration-none text-muted">
                      Our Story
                    </a>
                </li>
                <li class = "my-3">
                    <a href = "#services" class = "text-white text-decoration-none text-muted">
                      Projects
                    </a>
                </li>
                <li class = "my-3">
                    <a href = "#work" class = "text-white text-decoration-none text-muted">
                      Terms of Use
                    </a>
                </li>
                <li class = "my-3">
                    <a href = "#team" class = "text-white text-decoration-none text-muted">
                      Privacy Policy
                    </a>
                </li>
                
            </ul>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-12">
              <h4 class="mb-3 text-white fw-bold">Learn More</h4>
              <p class="mb-5 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt a cupiditate rerum.</p>
             <form action="ragister.html">
              <div class="form-floating input-group mb-3 text-dark">
                <input type="email" class="form-control" id="footer-input" placeholder="name@example.com" required />
                <label for="footer-input">Email Address</label>
                <input type="submit" value="join" class="btn btn-primary" name="ragister" />
              </div>
             </form>
            </div>
          </div> 
        </div>
      </div>
    </footer> 

    <a href="#" class="text-center text-decoration-none fw-bold text-white position-fixed display-inline scroll-arrow"><i class="fas fa-arrow-up"></i></a>

    <!-- FOOTER END -->

    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/js/wow.min.js" type="text/javascript"></script> 
    <script src="/js/script.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js" type="text/javascript"></script>
    <script>
      $(window).on("load resize",function() {

var counters = $(".count");
var countersQuantity = counters.length;
var counter = [];

for (i = 0; i < countersQuantity; i++) {
  counter[i] = parseInt(counters[i].innerHTML);
}

var count = function(start, value, id) {
  var localStart = start;
  setInterval(function() {
    if (localStart < value) {
      localStart++;
      counters[id].innerHTML = localStart;
    }
  }, 4);
}

for (j = 0; j < countersQuantity; j++) {
  count(0, counter[j], j);
}
});
    </script>


    <script>
      $('[data-fancybox]').fancybox({
  // Options will go here
  buttons : [
    'close'
  ],
  wheel : false,
  transitionEffect: "slide",
   // thumbs          : false,
  // hash            : false,
  loop            : true,
  // keyboard        : true,
  toolbar         : false,
  // animationEffect : false,
  // arrows          : true,
  clickContent    : false
});
    </script>
</body>
</html>


<form method="post" action="/insertRecord">
    Enter name = <input type="text" name="name"><br>
    Enter phone = <input type="text" name="phone"><br>
     <input type="submit" name="submit" value="submit"><br>
</form>

<% for(var key of recordList){ %>
    <P><%= key.name %>----<%= key.phone %></P>
<% } %>
