<form method="post" action="/editRecord">
    <input type="hidden" name="update_phone" value="<%= single.phone %>"> 
    Enter name = <input type="text" name="name" value="<%= single.name %>"><br>
    Enter phone = <input type="text" name="phone" value="<%= single.phone %>"><br>
     <input type="submit" name="submit" value="update"><br>
</form>